<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">Your Online Classifieds</h1>
      <br />
      <h2 class="masthead-subheading mb-0">The only online seller platform designed for the Bahamas.</h2>
      <br />
      <div class="cntr">
        <div class="cntr-innr">
          <label class="search" for="inpt_search">
            <input id="inpt_search" type="text" />
          </label>
        </div>
      </div>
      <!-- <%= link_to 'Start Search', '#', class: "btn btn-primary btn-xl rounded-pill mt-5" %> -->
    </div>
  </div>
  <br />
  <br />
  <a href="#description"><i class="fa fa-angle-down fa-5x text-center text-white" aria-hidden="true"></i></a>
</header>

<br />
<br />
	<!-- Banner -->
	<section>
    <h1 class="text-center">Commonly Searched Items</h1>
    <br />
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-8 col-lg-4">
					<div class="content">
            <%= image_tag 'electronics.jpg', class: "img-fluid" %>
            <div class = 'content-button'> 
              <%= link_to '#', class: 'btn btn-content' do %> 
                <span> Electronics <i class="fa fa-angle-right" id = "arrow"></i></span>
              <% end %>
            </div>
					</div>

					<div class="content">
						<%= image_tag 'car.jpg', class: "img-fluid" %>
            <div class = 'content-button'> 
              <%= link_to '#', class: 'btn btn-content' do %> 
                <span> Cars <i class="fa fa-angle-right" id = "arrow"></i></span>
              <% end %>
            </div>
					</div>
				</div>

				<div class="col-sm-12 col-md-8 col-lg-4">
          <div class="content">
            <%= image_tag 'furniture.jpg', class: "img-fluid" %>
            <div class = 'content-button'> 
              <%= link_to '#', class: 'btn btn-content' do %> 
                <span> Furniture <i class="fa fa-angle-right" id = "arrow"></i></span>
              <% end %>
            </div>
          </div>					

				</div>

				<div class="col-sm-12 col-md-8 col-lg-4">
          <div class="content">
						<%= image_tag 'home.jpg', class: "img-fluid" %>
            <div class = 'content-button'> 
              <%= link_to '#', class: 'btn btn-content' do %> 
                <span> Property &amp; Rentals <i class="fa fa-angle-right" id = "arrow"></i></span>
              <% end %>
            </div>
					</div>
          <div class="content">
						<%= image_tag 'service.jpg', class: "img-fluid" %>
            <div class = 'content-button'> 
              <%= link_to '#', class: 'btn btn-content' do %> 
                <span> Services <i class="fa fa-angle-right" id = "arrow"></i></span>
              <% end %>
            </div>
					</div>
				</div>
			</div>
		</div>
	</section>

<a name="description"></a> 
<section class = "why-box">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Fast and Easy Search</h2>
          <p>With goods and services classified in 12+ categories, it's easier than ever to find exactly what you are looking for. See something you like? Save it for later! Save an ad to your Favourites List to access it quickly later on. </p>
        </div>
      </div>
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <%= image_tag 'search.jpg', class: "img-fluid rounded-circle" %>
        </div>
      </div>
      
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <%= image_tag '02.jpg', class: "img-fluid rounded-circle" %>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Follow A Search</h2>
          <p>Looking for a microwave? Perhaps a car? Click 'follow' on your search to be notified as soon as someone posts an item you are looking for.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class= "why-box">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Find your buyer fast!</h2>
          <p>With all of our features, your customers can find you quicker and easier than anywhere else on the web!</p>
        </div>
      </div>
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <%= image_tag '03.jpg', class: "img-fluid rounded-circle" %>
        </div>
      </div>
      
    </div>
  </div>
</section>

<script>
  $("#inpt_search").on('focus', function () {
    $(this).parent('label').addClass('active');
  });

  $("#inpt_search").on('blur', function () {
    if($(this).val().length == 0)
      $(this).parent('label').removeClass('active');
  });
</script>