<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">


<div class = "ad-index col-8 offset-2">
  <h1 class= "text-center color-pink">Current Listings</h1>
  <br/>

  <% @ads.each do |ad| %>
    <hr />
    <div class="ad-index-each">
      <div class = "info">
        <% unless current_user.favourite_ads.exists?(id: ad.id) %>
          <%= link_to favourite_ads_path(ad_id: ad.id), method: :post do %>
            <i class="fas fa-heart pull-left unliked"></i> 
          <% end %>
        <% else %>
          <%= link_to favourite_ad_path(ad), method: :delete do %>
            <i class="fas fa-heart pull-left liked"></i> 
          <% end %>
        <% end %>
        <h2 class= "ad-index-title pull-left">
          <%= link_to '#' do %>
            <%= ad.title %> <i class="fa fa-angle-right" id = "ad-arrow"></i>
          <% end %>
        </h2>
        <div class = "index-price badge badge-primary pull-right"> 
          $<%= sprintf("%.2f", ad.cost)%>
        </div>
      </div>
      <br />
      <div>
        <br />
        <p><strong><i><%= ad.created_at.strftime("%d %b, %Y") %>.</i></strong>
        <%= truncate(ad.description, length: 200)%></p>
      </div> 
    </div>
  <% end %>
</div >

<ul class = "pagination pagination-sm paginate-center">
  <%= will_paginate @collection, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</ul>


<script>
  $("#favourite-button").click(function () {
    alert("Hi");

  $.ajax({
    type: 'PUT',
    url: '/users/' + user_id + '/favourites/',
    dataType: 'json',
    data: { favourite: {ad_id: ad_id, user_id: user_id} },
    });
  });
</script>