  <h1 class= "text-center color-pink">Current Listings</h1>

  <% @ads.each do |ad| %>
    <div class="ad-index-each large-10 large-offset-1">
      <div class = "info">
        <h2 class= "ad-index-title pull-left"><%= link_to ad.title, ad_path(ad) %></h2> &nbsp; &nbsp;
        <span class = "index-price">$<%= sprintf("%.2f", ad.cost) %></span>
      </div>
      <hr />
      <div >
        <p><%= truncate(ad.description, length: 200)%> <span class ="pull-right"><%= link_to "View Ad", ad_path(ad) %> </span> </p>
      </div> 
    </div>
    <br />
  <% end %>

<footer>
  <div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @posts %>
    </div>
    <%= will_paginate @posts, :container => false %>
  </div>
</footer>
