<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<style>
  body {background-color:rgba(255, 242, 191, 0.7);}
</style>

<div class = "ad-index col-8 offset-2">
  <h1 class= "text-center color-pink">Current Listings</h1>
  <br/>

  <% @ads.each do |ad| %>
    <hr />
    <div class="ad-index-each">
      <div class = "info">
        <i class="far fa-heart pull-left" id = 'unliked'></i> 
        <h2 class= "ad-index-title pull-left">
          <%= link_to ad_path(ad) do %>
            <%= ad.title %> <i class="fa fa-angle-right" id = "ad-arrow"></i>
          <% end %>
        </h2>
        <div class = "index-price badge badge-primary pull-right"> 
          $<%= sprintf("%.2f", ad.cost)%>
        </div>
      </div>
      <br />
      <div>
        <br />
        <p><strong><i><%= ad.created_at.strftime("%d %b, %Y") %>.</i></strong>
        <%= truncate(ad.description, length: 200)%></p>
      </div> 
    </div>
  <% end %>
</div >

<ul class = "pagination pagination-sm paginate-center">
  <%= will_paginate @collection, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</ul>


<script>
  $("#unliked").click(function () {
    alert("Hi");
  });
</script>