  <h1 class= "text-center color-pink">Current Listings</h1>

  <% @ads.each do |ad| %>
    <div class="ad-index-each large-10 large-offset-1">
      <h2 class= "ad-index-title"><%= ad.title %></h2>
      <div class="badge">
        <%= sprintf("%.2f", ad.cost) %>
      </div>
      <div class>
        <p><%= ad.description %></p>
      </div> 
    </div>
    <br />
  <% end %>

<footer>
  <div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @posts %>
    </div>
    <%= will_paginate @posts, :container => false %>
  </div>
</footer>
