<style>
  body {background-color:rgba(255, 242, 191, 0.7);}
</style>
<div class="ad-index col-8 offset-2"> 
  <h1 class= "text-center">Create A New Ad</h1>

  <%= simple_form_for @ad, url: ads_path do |f| %>
    <%= f.input :title, label: false, placeholder: "Item/Service for Sale" %>
    <%= f.association :category, label: false, placeholder: "Select a Category", label_method: :name, value_method: :id %>
    <%= f.input :cost, label: false, placeholder: "Price" %>
    <%= f.input :description, label: false, placeholder: "Description" %>
    <%= f.input :quantity, label: false, placeholder: "Quantity Available" %>
    <%= f.input :phone, label: false, placeholder:"Phone Contact" %>
    <%= f.input :email, label: false, placeholder: "Email Contact" %>
    <%= f.input :accepted, label: "By clicking this checkbox, I agree to the Terms and Conditions." %>
    <br />

    <br />
    <%= f.submit "Post Ad", class: 'btn btn-lg btn-content' %>    
  <% end %>
  <br />
</div>