<main class="container product-container">
  <div class="row">
    <div class="col-sm-12 col-lg-8">
      <%= image_tag 'bike.jpg', class: 'ad-img' %>
    </div>
    <div class="col-sm-12 col-lg-4">
      <div class = "product-description">
        <span><%= link_to "Category", '#' %></span>
      </div>
      <!-- Product Pricing -->
      <div class="product-price">
        <span>$<%= @ad.cost %></span>
        <%= link_to "Add to Favourites", '#', class: 'save-btn' %>
      </div> 

      <!-- Product Description -->
      <div class="product-description">
        <h1><%= @ad.title %></h1>
        <p><%= @ad.description %></p>
      </div>
  
      <!-- Product Configuration -->
      <div class="product-configuration">
  
        <!-- Product Color -->
        <div class="seller-info">
          <span><strong>Seller Info</strong></span>
          <br />
          <p>Seller: <%= @ad.user.email %></p>
          <p>Member Since: <%= @ad.user.created_at.strftime("%d %b, %y")%></p>
          <p>Active Ads: 4 </p>
        </div>
  
        <!-- Cable Configuration -->
        <div class="seller-contact">
          <span><strong>Contact Information</strong></span>
  
          <div class="seller-contact-info">
            <% if @ad.email.present? %>
              <span id= "email-target">
                <button>Show Email</button>
              </span>
            <% end %>
            <% if @ad.phone.present? %>
              <span id="phone-target">
                <button>Show Phone Number</button>
              </span>
            <% end %>
            <p id="email"><%= @ad.email %></p>
            <p id="phone"><%= @ad.phone %></p>
          </div>
          <%= link_to 'How to buy safely', '#' %>
        </div>
      </div>    
    </div>
  </div>
</main>

<script>
$(document).ready(function(){
  $( "#email-target" ).click(function() {
    $("#email").slideToggle();
  });
  $( "#phone-target" ).click(function() {
    $("#phone").slideToggle();
  });
});
  
</script>