<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

<section class="product-container">
  <div class="row">
    <div class="col-sm-12 col-lg-8">
      <%= image_tag 'bike.jpg', class: 'ad-img' %>
    </div>
    <div class="col-sm-12 col-lg-4">
      <div>
        <span class= "category"><%= link_to "Category", '#' %></span>
      </div>
      <!-- Product Title -->
      <div class="product-overview">
        <h1><%= @ad.title %> <span class="far fa-heart pull-right" id = 'unliked'></span></h1>
      </div>
      <!-- Product Pricing -->
      <div class = "product-price badge badge-primary pull-right"> $<%= sprintf("%.2f", @ad.cost)%></div>

      <div>
        <!-- Seller Info -->
        <div class="seller-info">
          <h2>Seller Info</h2>
          <p>Seller: <%= @ad.user.username %></p>
          <p>Member Since: <%= @ad.user.created_at.strftime("%d %b, %Y")%></p>
          <p>Active Ads: 4 </p>
        </div>
        <!-- Seller Contact Info -->
        <div class="seller-contact">
          <h2>Contact Information</h2>
          <div class="seller-contact-info">
            <% if @ad.email.present? %>
              <span id= "email-target" class= "btn btn-contact">
                Show Email
              </span>
            <% end %>
            <% if @ad.phone.present? %>
              <span id="phone-target" class = "btn btn-contact">
                Show Phone Number
              </span>
            <% end %>
            <p id="email"><%= @ad.email %></p>
            <p id="phone"><%= @ad.phone %></p>
          </div>
          <%= link_to 'How to buy safely', '#' %>
        </div>
      </div>    
    </div>
  </div>
</section>

<section class = "ad-description col-10 offset-1">
  <h2>Product Description</h2>
  <hr />
  <p><%= @ad.description %></p>
</section>

<script>
$(document).ready(function(){
  $( "#email-target" ).click(function() {
    $("#email").slideToggle();
  });
  $( "#phone-target" ).click(function() {
    $("#phone").slideToggle();
  });
});
  
</script>