<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tings Bahamas</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <div class="container">
        <%= link_to "Tings Bahamas", root_path, class: "navbar-brand"%>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to "View Listings", ads_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Post An Ad", new_ad_path, class: 'nav-link'%>
            </li>
            <% if user_signed_in? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Your Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <%= link_to "Your Profile", '#', class: "dropdown-item" %>
                  <%= link_to "Favourites", '#', class: "dropdown-item" %>
                  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                </div>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Log In", new_user_session_path, class: 'nav-link'%>
              </li>
              <li class="nav-item">
                <%= link_to new_user_registration_path, class: 'btn btn-content nav-link' do %> 
                  <span> Sign Up <i class="fa fa-angle-right" id = "arrow"></i></span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>


    <% if notice.present? %>
        <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>

    <!-- Footer -->


  </body>
</html>