<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Tings Bahamas" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="fixed">  
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><%= link_to 'Tings Bahamas', root_path %> </h1>
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a><span></span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Left Nav Section -->
          <ul class="left">
            <li> <%= link_to 'View Listings', ads_path %></li>
            <li> <%= link_to 'Post An Ad', new_ad_path  %></li>
          </ul>
          <!-- Right Nav Section -->
          <ul class="right">
            <% if user_signed_in? %>
              <li class="has-dropdown">
                <a><%= link_to "Your Account", "#"%></a>
                <ul class="dropdown">
                  <li><%= link_to "Your Profile", "#" %> </li>
                  <li><%= link_to "Favourites", "#" %> </li>
                  <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to 'Log In', new_user_session_path%></li>
              <li> <%= link_to 'Sign Up', new_user_registration_path %></li>
            <% end %>
          </ul>
        </section>
      </nav>
    </div>


    <% if notice.present? %>
      <p class="alert-box round"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert-box round"><%= alert %></p>
    <% end %>


    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>